@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

.page-body {
    font-family: "Gilroy", Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    padding: 13px 15px;
}

.link-active {
    color: #F25822;
}

.main {
    margin-bottom: 162px;
}

.main-flex {
    display: flex;
    gap: 39px;
}

.main-left {
    max-width: 522px;
}

.title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 17px;
}

.desc {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #888888;
}

.btn-box {
    margin-top: 52px;
}

.btn {
    padding: 15px 36px 16px 35px;
    border-radius: 28px;
    margin-right: 20px;
    border: 3px solid transparent;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #AAAAAA;
}

.btn-active {
    background: #F25822;
    color: #fff;
}

.btn:hover {
    border: 3px solid #000;
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.brands {
    padding-top: 97px;
    padding-bottom: 96px;
}

.features {
    display: flex;
    gap: 60px;
    padding: 100px 0;
}

.feature {
    padding: 40px 30px 25px;
}

.feature-center {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature-heading {
    font-weight: 700;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 17px;
}

.feature-desc {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 25px;
}

.feature-read {
    font-size: 11px;
    font-weight: 700;
    line-height: 150%;
}

.services {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
    text-align: center;
}

.services-heading {
    margin-bottom: 19px;
    font-size: 45px;
    font-weight: 700;
}

.services-desc {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 54px;
}

.services-flex {
    display: flex;
    gap: 30px;
}

.service {
    background: #fff;
    padding-bottom: 65px;
    padding-right: 30px;
    padding-left: 30px;
}

.service-center {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.small-img {
    margin-bottom: 15px;
}

.service-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
    line-height: 150%;
}

.service-desc {
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 54px;
}

.service-btn {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    padding: 15px 36px 15px 46px;
    background: #F25822;
    border-radius: 50px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}