* {
  margin: 0;
  padding: 0;
}

.page-body {
  color: #222222;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222222;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-left {
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.header-right {
  width: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  position: relative;
}

.circle {
  position: absolute;
  margin-left: 157px;
  margin-bottom: 23px;
}

.number {
  position: absolute;
  margin-left: 163px;
  margin-bottom: 21px;
}

.container-banner {
  background-color: #f1e4e6;
  width: 1600px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.banner-flex {
  display: flex;
}

.banner-left {
  width: 50%;
}

.banner-left img {
  max-width: 100%;
  max-height: 100%;
}

.flex-heading {
  margin-top: 290px;
  margin-left: 63px;
  display: flex;
}

.banner {
  background-color: #f1e4e6;
}

.band {
  width: 12px;
  height: 92px;
  background: #f16d7f;
  margin-right: 16px;
}

.top-heading {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  line-height: 38px;
}

.red {
  color: #f16d7f;
}

.offer-imgs {
  display: flex;
  flex-direction: column;
}

.offer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.offers {
  width: 360px;
  height: 260px;
  text-align: center;
  background-color: #ccc;
}

.text {
  padding: 105px;
  white-space: nowrap;
}

.text-bottom {
  padding-top: 65px;
}

.offer-1 {
  background-image: url(img/offer-1.jpg);
}

.offer-2 {
  background-image: url(img/offer-2.jpg);
}

.offer-3 {
  background-image: url(img/offer-3.jpg);
}

.offer-4 {
  background-image: url(img/offer-4.jpg);
  height: 180px;
  text-align: center;
  background-color: #ccc;
  margin-bottom: 96px;
}

.top {
  font-size: 16px;
  margin: 0;
  color: white;
  line-height: 19px;
  margin-bottom: 5px;
}

.bottom {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
  margin: 0;
  line-height: 19px;
}

.catalog-heading {
  color: #222222;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.main-catalog {
  font-weight: 400;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 360px;
  margin-bottom: 30px;
}

.product-img {
  background-color: #aba9a7;
}

.product {
  background: #f8f8f8;
}

.product-title {
  padding-top: 25px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.product-description {
  color: #5d5d5d;
  margin-bottom: 18px;
}

.product-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-bottom: 20px;
}

.button-wrap {
  margin: 0 auto;
}

.button {
  margin-top: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  text-decoration: none;
  display: block;
  padding: 15px 39px;
}

.advantages {
  margin-top: 96px;
  background: #222224;
  height: 341px;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
}

.advantage {
  text-align: center;
  padding-top: 103px;
}

.advantage-heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px;
  margin-bottom: 16px;
}

.advantage-description {
  text-align: center;
  color: #fbfbfb;
  width: 360px;
}

.footer-top {
  background: url(img/footer-bg.jpg) bottom no-repeat;
  background-color: #f8f8f828;
  height: 448px;
  background-size: cover;
}

.footer-top-flex {
  display: flex;
  justify-content: space-between;
}

.rewiew {
  padding-top: 97px;
  font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
width: 359.45px;
}

.subscribe {
  padding-top: 150px;
  width: 557px;
}

.photo {
  border-radius: 50%;
  margin-bottom: 30px;
}

.subscribe-top {
  font-weight: 700;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
}

.subscribe-bottom {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe-form {
  display: flex;
justify-content: center;
}

.subscribe-mail {
  border: none;
  font-weight: 400;
text-align: center;
color: #222224;
opacity: 0.67;
background-color: #E1E1E1;
width: 256px;
height: 49px;
border-radius: 25px 0 0 25px;
}

.subscribe-button {
  height: 49px;
  border: none;
  font-weight: 400;
  display: flex;
  color: #FFFFFF;
  background: #F16D7F;
  width: 100px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 0 25px 25px 0;
}

.footer-bottom-wrapper {
  background: #222224;
  height: 79px;
  padding-top: 30px;
}

.copy {
  font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FBFBFB;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style: none;
}

.visually-hidden {
  display: none;
}

.footer-social-item {
  margin-right: 7px;
}

/* Product */

.product-info {
  transform: translateX(-65px);
}